@import url('https://fonts.googleapis.com/css2?family=Anton&family=Luckiest+Guy&family=Roboto+Condensed:wght@300&family=Waiting+for+the+Sunrise&display=swap');

.subheadtext {
    font-family: 'Anton', sans-serif;
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Waiting for the Sunrise', cursive;
}
